body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff748c;
}

#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
}

.header__text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 0;
}

.button {
  background-color: #ffb6c1;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #faf9f6;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 80px;
}
