body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff8da1;
}

.header__text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
}

.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-content: center;
}
